[Unit]
Description=Pyneta Flask Application
Documentation=AWS EC2 ASG ALB Demonstration Application

Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User=ec2-user
Group=ec2-user

WorkingDirectory=/opt/pyneta-app

EnvironmentFile=/etc/pyneta-app/pyneta-app.env

ExecStart=/opt/pyneta-app/venv/bin/python /opt/pyneta-app/app.py

Restart=always
RestartSec=5

TimeoutStartSec=30
TimeoutStopSec=30

KillSignal=SIGTERM

StandardOutput=journal
StandardError=journal

SyslogIdentifier=pyneta-app

[Install]
WantedBy=multi-user.target